version: '3.8'

services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: platifyx-backend
    ports:
      - "8060:8060"
    environment:
      - ENVIRONMENT=development
    restart: unless-stopped
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: platifyx-frontend
    ports:
      - "7000:7000"
    restart: unless-stopped