.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  margin-top: var(--header-height);
  margin-left: var(--sidebar-width);
  padding: 24px;
  min-height: calc(100vh - var(--header-height));
  background-color: var(--color-background);
}
